body {
  background-image: url("./imgs/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* background-image: https://unsplash.com/photos/6PF6DaiWz48 */

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.3);
  width: 50%;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  border-radius: 5px;
}

.name {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  color:rgba(83, 83, 247, 0.747);
  letter-spacing: 5px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.skill {
  font-family: 'Lobster', cursive;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.1);
}

.sign {
  background-color: rgba(83, 83, 247, 0.747);
  color:rgba(255, 255, 255, 0.747);
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  padding: 15%;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: 0.8px;
  text-align: center;
}

.sign:hover {
  background-color: rgb(83, 83, 247);
  color:rgb(255, 255, 255);
}

@media only screen and (max-width: 720px) {
  .container {
    width: 80%;
    height: 50vh;
    margin-top: 8%;
  }
  
  .name {
    font-size: 1.5em;
    letter-spacing: 3px;
    margin-left: 3px;
    margin-right: 3px;
  }
  
  .skill {
    margin-left: 3px;
    margin-right: 3px;
    font-size: .999em;
  }
  
  .sign {
    padding: 15%;
    font-size: .7em;
    letter-spacing: 0.8px;
  }
}
