.header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  background-color: black;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  color: white;
  padding: 12px;
}

.logo {
  display: flex;
  font-size: 36px;
  color: white;
  padding: 12px;
}

.mobile-menu {
  display: none;
}

.web-menu {
  display: flex;
}

@media only screen and (max-width: 720px) {
  .mobile-menu {
    display: flex;
  }

  .web-menu {
    display: none;
  }

  .logo {
    font-size: 24px;
  }
}