.projects-title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

.project {
  display: flex;
  justify-content: space-between;
  font-size: 30%;
  padding: 50px;
}

img {
  width: 350px;
}

.projects-text {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 12px;
}