html {
  scroll-behavior: smooth;
}

.home {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0);
  color: white;
}

@media only screen and (max-width: 1024px) {
  .home {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 512px) {
  .home {
    width: 100%;
    margin: 0;
  }
}